.box.box-primary {
    border-top-color: #7d0056;
}
.navbar{
	background-color: #7d0056;
}
.login-box, .register-box {
    width: 400px;
    margin: 7% auto;
}
ul.ui-autocomplete {
    z-index: 1100;
}
body{
	padding: 0 !important;
}
.ob{
	font-size: 0.5em;
	vertical-align: super;
	color: purple;
}
.ui-datepicker .ui-widget .ui-widget-content .ui-helper-clearfix .ui-corner-all{
	z-index: 5;
}